<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Wouigo!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
														           and uncomment the following Encore helpers to start using Symfony UX #}

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

		<link href="/css/styles.css" rel="stylesheet"/>
		<link href="/css/header.css" rel="stylesheet"/>
		<link href="/css/footer.css" rel="stylesheet"/>
		<link href="/css/drv_inscription.css" rel="stylesheet"/>


		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,80">
		<link rel="stylesheet" href="/fonts/font-awesome.min.css">
		<link rel="icon" href="/img/Logo Wouigo (miniature avec fond).jpg" type="image/gif" sizes="16x16">


		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}

		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>

		{# navbar #}
		<header class="d-flex flex-column">
			<nav class="border-bottom bg-white px-3 px-md-5 py-0 py-md-1 header-navbar navbar navbar-expand-sm navbar-light">
				<div class="d-flex ps-md-4 justify-content-between align-items-center col-12 col-sm-2">
					<a class="navbar-brand p-0 m-0" href="{{path('app_home')}}">
						<img src="{{asset('/img/Logo_ecriture_bleu_sans_fond.svg')}}" alt="Logo_ecriture_bleu_sans_fond" width="100px"/>
					</a>
					<button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
				<div
					class="collapse pb-3 pb-md-0 pe-md-4 navbar-collapse justify-content-end" id="navbarToggleExternalContent">
					<!-- utilisateur connecté -->
					<ul class="navbar-nav nav-menu">
						<li class="pe-3 nav-item">
							<a class="nav-link" href="#">Services</a>
						</li>
						<li class="pe-3 nav-item">
							<a class="nav-link" href="#">Prix</a>
						</li>
						<li class="pe-3 nav-item">
							<a class="nav-link" href="{{path('app_becomeDriver')}}">Devenir Chauffeur</a>
						</li>
						<li class="pe-3 nav-item">
							<a class="nav-link" href="#">FAQ</a>
						</li>
						<li class="pe-3 nav-item">
							<a class="nav-link d-none" href="#">Blog</a>
						</li>
					</ul>

					<!-- public -->
					<ul class="col d-flex justify-content-end navbar-nav">
						<li class="me-md-2 my-2 my-md-0 login px-3 d-flex align-items-center justify-content-center justify-content-md-end nav-item">
							<a class="nav-link" href="#" style="">Se connecter</a>
						</li>
						<li class="px-3 my-2 my-md-0 nav-item btn py-0 py-md-2" id="create-account">
							<a class="nav-link" href="/account/create">Créer un compte</a>
						</li>
					</ul>


				</div>
			</nav>
		</header>


		<main>
			{% block body %}{% endblock %}
		</main>


		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<!-- <script src="public/bootstrap/js/bootstrap.min.js"></script> -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>

		<script src="/js/script.js"></script>
	</body>
</html>
